<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Search</title>
</head>

<body>
    
    <center>
    <br><br>
    <form method = "POST" action = "/search">
    
        <input type="text" class="form-control" id="search" name = "search" placeholder="Search for a book" value = "<%= tag%>" required>
        <br>
        <br>
        <input type = "submit" class="btn btn-primary" value = "Search">
    </form>

    <br><br>

    <% if(result.length>0){ %>

        <p>Books found : <%= result.length%> </p><br><br>

    <% for(var i = 0 ; i < result.length ; i++){ %>

        <div class="card" style="width: 18rem;">
           
            <div class="card-body">
                <br>
              <h5 class="card-title"><%= result[i].bookName%></h5>
              <p class="card-text"><%= result[i].desc%></p>
              <p class="card-text"> Uploaded by : <%= result[i].userName%></p>
              <a href="../<%= result[i].path%>" target = "_blank" class="btn btn-primary">View</a>
              <br>
            </div>
          </div>

      <% } %>  

    
      <% }else{ %>

        <p>No books found....</p>
        <% } %>

    </center>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>